<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 手机状态权限 -->
    <uses-permission android:name="permission:android.permission.READ_CALL_LOG" />
    <uses-permission android:name="permission:android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="permission:android.permission.CALL_PHONE" />
    <uses-permission android:name="permission:android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="permission:android.permission.USE_SIP" />
    <uses-permission android:name=" permission:android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="permission:com.android.voicemail.permission.ADD_VOICEMAIL" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 定位权限 -->
    <uses-permission android:name="permission:android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="permission:android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 相机权限 -->
    <uses-permission android:name="permission:android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 微信配置 -->
    <meta-data
        android:name="wxb3852e6a6b7d9516"
        android:value="123456" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //获取设备网络状态，禁用后无法获取网络状态
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //网络权限，当禁用后，无法进行检索等相关业务
    <uses-permission android:name="android.permission.INTERNET" />
    //读取设备硬件信息，统计数据
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //获取设备的网络状态，鉴权所需网络代理
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //允许sd卡写权限，需写入地图数据，禁用后无法显示地图
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    //这个权限用于访问GPS定位
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //获取统计数据
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //使用步行AR导航，配置Camera权限
    <uses-permission android:name="android.permission.CAMERA" />
    //程序在手机屏幕关闭后后台进程仍然运行
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".wdyy.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LunboActivity" android:launchMode="singleTop"/>
        <activity android:name=".activity.LoginActivity" android:launchMode="singleTop"/>
        <activity android:name=".activity.ZhuceActivity" />
        <activity android:name=".activity.ShowActivity" android:launchMode="singleTask"/>
        <activity
            android:name=".activity.MeiwangActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.MyQianActivity" />
        <activity android:name=".activity.XinXiActivity" />
        <activity android:name=".activity.XiuGaiActivity" />
        <activity android:name=".activity.YiJianActivity" />
        <activity android:name=".activity.YijianJieguoActivity" />
        <activity android:name=".hotactivity.HotActivity" />
        <activity android:name=".hotactivity.DetailsActivity" />
        <activity android:name=".activity.MyGuanzhuActivity" />
        <activity android:name=".activity.MyChongzhiActivity" />
        <activity android:name=".activity.XiaoxiActivity" />
        <activity android:name=".activity.YYXiangqingActivity" />
        <activity android:name=".activity.XiePinglunActivity" />

        <receiver android:name=".utile.network.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 百度 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6KevuzfZR69e6EO1Ak8Sq2qPRR4SiuWF" />

        <activity android:name=".activity.GouPiaoActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".hotactivity.ByIdMoveMovieActivity" />
        <activity android:name=".hotactivity.XuanZuoActivity" />
        <activity android:name=".hotactivity.TimeListActivity" />


        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

    </application>

</manifest>